@media (max-width:991px)
{
    body,html{
        font-size:10px;
        overflow-x: hidden;
    }
    .blog-container{
        margin:0rem;
       max-width:100vw !important;
      /*  height:100vh;*/
    }
   
    .blog-heading{
        font-size:2rem;
    }
        button{
            padding:.2rem 2rem;
            font-size: 1rem;
        }
        span{
            padding:1rem;
        }
        /* .footer-container{
            max-width: 100vw !important;
            height: 100vh;
            margin:0;
        }
        .facebook{
            padding:0;
         }
         .instagram{
            padding:0;
         }
         .logo-icon-svg{
            padding:0;
         }
         .linkedin{
            padding:0;
         } */
        
}
@media (max-width:768px)
{
    .blog-container{
        margin:0rem;
       max-width:100vw !important;
    }
       .footer-container{
        max-width: 100vw !important;
        margin:0;
      /*  height:100vh;*/
    }
    .box1{
     
        padding: 5rem 0rem;
    }
}
@media (max-width:597px)
{
    .box1{
    padding:3rem 0rem;
    }
    button{
     padding:10px 30px;
        font-size:15px;
       
    }
}
@media (max-width:425px)
{
    .left-section{
        margin-left:0rem;
    }
     .box2{
      
        margin-top:-90rem;
    }
    /*.logo p{
        margin-top:-3rem;
    }*/
        /* .menu-bar{ 
          margin-top:-90rem !important;
       } */
}