* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: 10px;
  background-color: rgb(235, 235, 222);
  width: 100%;
  height: 100vh;
}

.blog-container {
  margin-top: 3rem;
}
.blog-container .logo-heading {
  display: flex;
  flex-direction: column;
}
.blog-container .logo-heading .article {
  color: white;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 1rem;
}
.blog-container .logo-heading .blog-heading {
  font-size: 3rem;
  width: -moz-max-content;
  width: max-content;
  padding: 0.3rem 1rem;
}

.box1 {
  margin-top: 3rem;
  border: 1px solid #efbf5f;
  height: 33rem;
  background-color: #efbf5f;
  padding: 7rem 0rem;
}
.box1 .box-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.box1 .box-text h2 {
  margin-top: 7rem;
  font-size: 2rem;
  text-transform: capitalize;
}
.box1 .box-text p {
  margin-top: 1.8rem;
}
.box1 .box-text .button-style button {
  margin-top: 2rem;
  padding: 0.5rem 4rem;
  border-radius: 5rem;
  font-size: 1.8rem;
  background-color: black;
  color: white;
}
.box1 span {
  border-radius: 50%;
  background-color: rgb(7, 7, 7);
  margin-left: -0.4rem;
  margin-top: -0.2rem;
  padding: 1.5rem;
}
.box1 span svg {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.box2 {
  border: 1px solid rgb(237, 221, 221);
  background-color: silver;
  margin-top: 2.6rem;
  padding: 4.5rem 0rem;
}

/*---------------------------footer section-------------------------*/
footer {
  margin-top: 7rem;
  width: 100% !important;
  height: auto;
}
footer .logo {
  font-size: 7rem;
}
footer .logo .logo-gbb {
  letter-spacing: -1.3rem;
}
footer .logo .logo-gbb .b1 {
  color: yellowgreen;
}
footer .logo .logo-gbb .b {
  color: white;
}
footer .footer-paragraph {
  font-size: 1rem;
  margin-top: 4rem;
  color: white;
}
footer .second-row {
  display: grid;
  place-items: center;
}
footer .second-row .menu-bar {
  word-spacing: 1rem;
  font-size: 1.7rem;
}
footer .third-row {
  display: grid;
  place-items: center;
}
footer .third-row .menu-bar1 {
  word-spacing: 1rem;
  font-size: 1.7rem;
}
footer .four-row {
  display: grid;
  place-items: center;
}
footer .four-row .four-row-paragraph {
  font-size: 1.9rem;
}
footer .four-row .facebook {
  border-radius: 0.5rem;
  padding: 0.8rem;
  background-color: gray;
  color: white;
  text-decoration: none;
}
footer .four-row .instagram {
  border: 1px solid gray;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.8rem;
  background-color: gray;
  color: white;
  text-decoration: none;
}
footer .four-row .logo-icon-svg {
  border: 1px solid yellowgreen;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.8rem;
  background-color: yellowgreen;
  color: black;
  text-decoration: none;
}
footer .four-row .linkedin {
  border: 1px solid gray;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.8rem;
  background-color: gray;
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */